@font-face {
  font-family: 'Canvas Icons';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Canvas Icons/Canvas-Icons.eot");
  src: url("../fonts/Canvas Icons/Canvas-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Canvas Icons/Canvas-Icons.woff") format("woff"), url("../fonts/Canvas Icons/Canvas-Icons.ttf") format("truetype"), url("../fonts/Canvas Icons/Canvas-Icons.svg#Canvas-Icons") format("svg"); }

body {
  padding: 0.6em 1em;
  position: relative; }

canvas {
  background: #fdfdfd;
  box-shadow: 0 0 0.2em #3e3e3e;
  border-radius: 0.2em;
  clear: both;
  cursor: crosshair;
  float: left;
  margin: 0 0 1.2em; }

footer {
  clear: both;
  color: #bdbdbd; }

h1 {
  color: #e33d27;
  font-size: 3em;
  line-height: 1.6em;
  margin: 0 0 0.2em; }
  h1 > a {
    color: inherit;
    text-decoration: none; }

h2 {
  margin: 0;
  font-size: 1.6em;
  line-height: 1.5em; }

html {
  background: white;
  color: #3e3e3e;
  font-size: 62.5%;
  height: 100%;
  position: absolute;
  width: 100%; }

ol {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0; }
  ol > li {
    cursor: pointer;
    float: left;
    font-size: 1.6em;
    line-height: 1.5em;
    margin: 0 0.3125em 0.75em 0;
    text-align: center; }
    ol > li::before {
      background: #eeeeee;
      border-color: #cfcfcf;
      border-width: 0.2em;
      border-radius: 50%;
      border-style: solid;
      content: '';
      display: block;
      font-size: 1.5625em;
      font-family: 'Canvas Icons';
      text-shadow: 0 0.1em rgba(253, 253, 253, 0.4);
      height: 2em;
      line-height: 2em;
      margin-bottom: 0.24em;
      text-align: center;
      width: 2em; }
    ol > li:last-of-type, ol > li:nth-of-type(4n) {
      margin-right: 0; }
    ol > li.active {
      cursor: default;
      font-weight: bold; }
      ol > li.active::before {
        border-color: #2f2f2f;
        font-weight: normal; }

p {
  font-size: 1.2em;
  line-height: 1.5em; }

section {
  float: left;
  margin-bottom: 1.2em; }

#brush::before {
  content: "\e001"; }

#color-black::before {
  background: #3e3e3e; }

#color-gray::before {
  background: #bdbdbd; }

#color-white::before {
  background: #fdfdfd; }

#color-red::before {
  background: #e33d27; }

#color-yellow::before {
  background: #ffe226; }

#color-green::before {
  background: #23db2a; }

#color-blue::before {
  background: #3581fc; }

#color-violet::before {
  background: #904fff; }

#pencil::before {
  content: "\e000"; }

#redo::before {
  content: "\e004"; }

#settings {
  background: #ebebeb;
  display: none;
  overflow: hidden;
  padding: 1.2em 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 26em; }

#settings-close,
#settings-open {
  cursor: pointer;
  font-size: 1em;
  margin: 0 0 1.2em;
  overflow: hidden;
  padding: 0.6em 1em;
  text-align: center; }
  #settings-close > a,
  #settings-open > a {
    color: #3e3e3e;
    display: inline-block;
    font-size: 1.6em;
    line-height: 1.5em;
    text-decoration: none; }
    #settings-close > a::before,
    #settings-open > a::before {
      display: block;
      float: left;
      font-family: 'Canvas Icons';
      font-size: 1.25em;
      margin-right: 0.25em;
      text-shadow: 0 0.05em 0 rgba(253, 253, 253, 0.4); }

#settings-close {
  background: #9e9e9e;
  border-radius: 0.4em;
  box-shadow: 0 0.1em 0.1em rgba(62, 62, 62, 0.6);
  text-align: center; }
  #settings-close > a::before {
    content: "\e007"; }

#settings-open {
  background: #ffe226;
  border-radius: 0.4em 0 0 0.4em;
  position: absolute;
  right: 0;
  top: 1.2em; }
  #settings-open > a {
    float: left; }
    #settings-open > a::before {
      content: "\e006"; }

#trash {
  color: silver; }
  #trash::before {
    content: "\e005"; }
  #trash.enabled {
    color: #e33d27; }
    #trash.enabled::before {
      border-color: #e33d27;
      color: #e33d27; }

#undo::before {
  content: "\e002"; }

#undo-all::before {
  content: "\e003"; }

#redo,
#undo,
#undo-all {
  color: silver; }
  #redo:hover,
  #undo:hover,
  #undo-all:hover {
    cursor: default; }
  #redo.enabled,
  #undo.enabled,
  #undo-all.enabled {
    color: #3e3e3e; }
    #redo.enabled:hover,
    #undo.enabled:hover,
    #undo-all.enabled:hover {
      cursor: pointer; }
