@import 'normalize.scss';

$color-black:  #3e3e3e;
$color-blue:   #3581fc;
$color-gray:   #bdbdbd;
$color-green:  #23db2a;
$color-red:    #e33d27;
$color-violet: #904fff;
$color-white:  #fdfdfd;
$color-yellow: #ffe226;

$icon-pencil:   '\e000';
$icon-brush:    '\e001';
$icon-undo:     '\e002';
$icon-undo-all: '\e003';
$icon-redo:     '\e004';
$icon-delete:   '\e005';
$icon-gear:     '\e006';
$icon-close:    '\e007';

@font-face {
  font: {
    family: 'Respaintive';
    style: normal;
    weight: normal;
  }
  src: url('../fonts/Respaintive/Respaintive.eot');
  src: url('../fonts/Respaintive/Respaintive.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Respaintive/Respaintive.woff') format('woff'),
       url('../fonts/Respaintive/Respaintive.ttf') format('truetype'),
       url('../fonts/Respaintive/Respaintive.svg#Respaintive') format('svg');
}

body {
  padding: 0.6em 1em;
  position: relative;
}

canvas {
  background: $color-white;
  box-shadow: 0 0 0.2em $color-black;
  border-radius: 0.2em;
  clear: both;
  cursor: crosshair;
  float: left;
  margin: 0 0 1.2em;
}

footer {
  clear: both;
  color: darken($color-gray, 12%);
}

h1 {
  color: $color-red;
  font-size: 3em;
  line-height: 1.6em;
  margin: 0 0 0.2em; // 0 0 6px

  > a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  margin: 0;
  font-size: 1.6em;
  line-height: 1.5em;
}

html {
  background: lighten($color-white, 6%);
  color: $color-black;
  font-size: 62.5%;
  height: 100%;
  position: absolute;
  width: 100%;
}

ol {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  > li {
    cursor: pointer;
    float: left;
    font-size: 1.6em;
    line-height: 1.5em; // 24px
    margin: 0 0.3125em 0.75em 0; // 0 5px 12px 0
    text-align: center;

    &::before {
      $diameter: 2em; // 48px

      background: darken($color-white, 6%);
      border: {
        color: darken($color-white, 18%);
        width: 0.2em; // 5px
        radius: 50%;
        style: solid;
      }
      content: '';
      display: block;
      font: {
        size: 1.5625em; // 25px
        family: 'Respaintive';
      }
      text-shadow: 0 0.1em transparentize($color-white, 0.6);
      height: $diameter;
      line-height: $diameter;
      margin-bottom: 0.24em; // 6px
      text-align: center;
      width: $diameter;
    }

    &:last-of-type,
    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &.active {
      cursor: default;
      font-weight: bold;

      &::before {
        border-color: darken($color-black, 6%);
        font-weight: normal;
      }
    }
  }
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
}

section {
  float: left;
  margin-bottom: 1.2em;
}

#brush {
  &::before {
    content: $icon-brush;
  }
}

#color-black {
  &::before {
    background: $color-black;
  }
}

#color-gray {
  &::before {
    background: $color-gray;
  }
}

#color-white {
  &::before {
    background: $color-white;
  }
}

#color-red {
  &::before {
    background: $color-red;
  }
}

#color-yellow {
  &::before {
    background: $color-yellow;
  }
}

#color-green {
  &::before {
    background: $color-green;
  }
}

#color-blue {
  &::before {
    background: $color-blue;
  }
}

#color-violet {
  &::before {
    background: $color-violet;
  }
}

#pencil {
  &::before {
    content: $icon-pencil;
  }
}

#redo {
  &::before {
    content: $icon-redo;
  }
}

#settings {
  background: lighten($color-gray, 18%);
  display: none;
  overflow: hidden;
  padding: 1.2em 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 26em;
}

#settings-close,
#settings-open {
  cursor: pointer;
  font-size: 1em;
  margin: 0 0 1.2em;
  overflow: hidden;
  padding: 0.6em 1em;
  text-align: center;

  > a {
    color: $color-black;
    display: inline-block;
    font-size: 1.6em;
    line-height: 1.5em;
    text-decoration: none;

    &::before {
      display: block;
      float: left;
      font: {
        family: 'Respaintive';
        size: 1.25em; // 20px
      }
      margin-right: 0.25em; // 5px
      text-shadow: 0 0.05em 0 transparentize($color-white, 0.6); // 0 1px 0
    }
  }
}

#settings-close {
  background: darken($color-gray, 12%);
  border-radius: 0.4em;
  box-shadow:  0 0.1em 0.1em transparentize($color-black, 0.4);
  text-align: center;

  > a {
    &::before {
      content: $icon-close;
    }
  }
}

#settings-open {
  background: $color-yellow;
  border-radius: 0.4em 0 0 0.4em;
  position: absolute;
  right: 0;
  top: 1.2em; // 12px

  > a {
    float: left;

    &::before {
      content: $icon-gear;
    }
  }
}

#trash {
  color: darken($color-white, 24%);
  cursor: default;

  &::before {
    content: $icon-delete;
  }

  &.enabled {
    color: $color-red;
    cursor: pointer;

    &::before {
      border-color: $color-red;
      color: $color-red;
    }
  }
}

#undo {
  &::before {
    content: $icon-undo;
  }
}

#undo-all {
  &::before {
    content: $icon-undo-all;
  }
}

#redo,
#undo,
#undo-all {
  color: darken($color-white, 24%);
  cursor: default;

  &.enabled {
    color: $color-black;
    cursor: pointer;
  }
}
