@font-face {
  font-family: 'Canvas Icons';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Canvas Icons/icons.eot");
  src: url("../fonts/Canvas Icons/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Canvas Icons/icons.woff") format("woff"), url("../fonts/Canvas Icons/icons.ttf") format("truetype"), url("../fonts/Canvas Icons/icons.svg#Canvas-Icons") format("svg"); }

body {
  padding: 1.2em 1em; }

canvas {
  background: #fdfdfd;
  box-shadow: 0 0 0.2em #3e3e3e;
  border-radius: 0.2em;
  clear: both;
  cursor: crosshair;
  float: left;
  margin-bottom: 1.2em; }

footer {
  clear: both;
  color: #bdbdbd; }

h1 {
  color: #e33d27;
  font-size: 3em;
  line-height: 1.6em;
  margin: 0 0 0.4em; }
  h1 > a {
    color: inherit;
    text-decoration: none; }

h2 {
  margin: 0 0 0.375em;
  font-size: 1.6em;
  line-height: 1.5em; }

html {
  background: white;
  color: #3e3e3e;
  font-size: 62.5%; }

ol {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0; }
  ol > li {
    background: #eeeeee;
    border-color: #cfcfcf;
    border-width: 0.25em;
    border-radius: 50%;
    border-style: solid;
    cursor: pointer;
    float: left;
    font-size: 2.4em;
    height: 2em;
    line-height: 2em;
    margin-right: 0.2em;
    text-align: center;
    width: 2em; }
    ol > li:hover {
      border-color: #5394fc; }
    ol > li:last-of-type {
      margin-right: 0; }
    ol > li.active {
      border-color: #2f2f2f;
      cursor: default; }

p {
  font-size: 1.2em;
  line-height: 1.5em; }

section {
  float: left;
  margin: 0 2em 1.2em 0; }

#brush,
#pencil,
#redo,
#undo,
#undo-all {
  -webkit-font-feature-settings: 'liga', 'dlig';
  -moz-font-feature-settings: 'liga=1, dlig=1';
  -moz-font-feature-settings: 'liga', 'dlig';
  -ms-font-feature-settings: 'liga', 'dlig';
  -o-font-feature-settings: 'liga', 'dlig';
  font-feature-settings: 'liga', 'dlig';
  font-family: 'Canvas Icons';
  text-shadow: 0 0.0625em #fdfdfd; }

#redo,
#undo,
#undo-all {
  color: silver; }
  #redo:hover,
  #undo:hover,
  #undo-all:hover {
    border-color: #cfcfcf;
    cursor: default; }
  #redo.available,
  #undo.available,
  #undo-all.available {
    color: #3e3e3e; }
    #redo.available:hover,
    #undo.available:hover,
    #undo-all.available:hover {
      border-color: #5394fc;
      cursor: pointer; }
  #redo > span,
  #undo > span,
  #undo-all > span {
    font-size: 0.5em;
    line-height: 2em; }

#colors > li {
  text-indent: -999em; }
