@font-face {
  font-family: 'Canvas Icons';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Canvas Icons/icons.eot");
  src: url("../fonts/Canvas Icons/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Canvas Icons/icons.woff") format("woff"), url("../fonts/Canvas Icons/icons.ttf") format("truetype"), url("../fonts/Canvas Icons/icons.svg#Canvas-Icons") format("svg"); }

body {
  padding: 0.6em 1em; }

canvas {
  background: #fdfdfd;
  box-shadow: 0 0 0.2em #3e3e3e;
  border-radius: 0.2em;
  clear: both;
  cursor: crosshair;
  float: left;
  margin: 1.2em 0; }

footer {
  clear: both;
  color: #bdbdbd; }

h1 {
  color: #e33d27;
  font-size: 3em;
  line-height: 1.6em;
  margin: 0; }
  h1 > a {
    color: inherit;
    text-decoration: none; }

h2 {
  margin: 0;
  font-size: 1.6em;
  line-height: 1.5em; }

html {
  background: white;
  color: #3e3e3e;
  font-size: 62.5%; }

ol {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0; }
  ol > li {
    cursor: pointer;
    float: left;
    font-size: 1.6em;
    line-height: 1.5em;
    margin: 0 0.3125em 0.375em 0;
    text-align: center; }
    ol > li::before {
      background: #eeeeee;
      border-color: #cfcfcf;
      border-width: 5px;
      border-radius: 50%;
      border-style: solid;
      content: '';
      display: block;
      font-size: 1.5625em;
      font-family: 'Canvas Icons';
      text-shadow: 0 0.1em #fdfdfd;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px; }
    ol > li:last-of-type {
      margin-right: 0; }
    ol > li.active {
      cursor: default;
      font-weight: bold; }
      ol > li.active::before {
        border-color: #2f2f2f; }

p {
  font-size: 1.2em;
  line-height: 1.5em; }

section {
  float: left;
  margin-right: 2em; }

#brush::before {
  content: "\e001"; }

#color-black::before {
  background: #3e3e3e; }

#color-gray::before {
  background: #bdbdbd; }

#color-white::before {
  background: #fdfdfd; }

#color-red::before {
  background: #e33d27; }

#color-yellow::before {
  background: #ffe226; }

#color-green::before {
  background: #23db2a; }

#color-blue::before {
  background: #3581fc; }

#color-violet::before {
  background: #904fff; }

#pencil::before {
  content: "\e000"; }

#redo::before {
  content: "\e004"; }

#trash {
  color: silver;
  margin-left: 15px; }
  #trash::before {
    content: "\e005"; }
  #trash.enabled {
    color: #e33d27; }
    #trash.enabled::before {
      border-color: #e33d27;
      color: #e33d27; }

#undo::before {
  content: "\e002"; }

#undo-all::before {
  content: "\e003"; }

#redo,
#undo,
#undo-all {
  color: silver; }
  #redo:hover,
  #undo:hover,
  #undo-all:hover {
    cursor: default; }
  #redo.enabled,
  #undo.enabled,
  #undo-all.enabled {
    color: #3e3e3e; }
    #redo.enabled:hover,
    #undo.enabled:hover,
    #undo-all.enabled:hover {
      cursor: pointer; }
