$color-blue:   #3581fc;
$color-gray:   #bdbdbd;
$color-green:  #23db2a;
$color-red:    #e33d27;
$color-violet: #904fff;
$color-yellow: #ffe226;

$color-black: #3e3e3e;
$color-white: #fdfdfd;

// Enables ligature for the current element. Useful when using icon-fonts with
// semantic identifiers.
@mixin enable-ligatures() {
  -webkit-font-feature-settings: 'liga', 'dlig';
     -moz-font-feature-settings: 'liga=1, dlig=1';
     -moz-font-feature-settings: 'liga', 'dlig';
      -ms-font-feature-settings: 'liga', 'dlig';
       -o-font-feature-settings: 'liga', 'dlig';
          font-feature-settings: 'liga', 'dlig';
}

@font-face {
  font: {
    family: 'Canvas Icons';
    style: normal;
    weight: normal;
  }
  src: url('../fonts/Canvas Icons/icons.eot');
  src: url('../fonts/Canvas Icons/icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Canvas Icons/icons.woff') format('woff'),
       url('../fonts/Canvas Icons/icons.ttf') format('truetype'),
       url('../fonts/Canvas Icons/icons.svg#Canvas-Icons') format('svg');
}

body {
  padding: 1.2em 1em;
}

canvas {
  background: $color-white;
  box-shadow: 0 0 0.2em $color-black;
  border-radius: 0.2em;
  clear: both;
  cursor: crosshair;
  float: left;
}

h1 {
  color: $color-red;
  font-size: 3em;
  line-height: 1.6em;
  margin: 0 0 0.4em; // 12px

  > a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  margin: 0;
  font-size: 1.6em;
  line-height: 1.5em;
}

html {
  background: lighten($color-white, 6%);
  color: $color-black;
  font-size: 62.5%;
}

ol {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  > li {
    $diameter: 2em; // 48px

    background: darken($color-white, 6%);
    border: {
      color: darken($color-white, 18%);
      width: 0.25em; // 6px
      radius: 50%;
      style: solid;
    }
    cursor: pointer;
    float: left;
    font-size: 2.4em;
    height: $diameter;
    line-height: 2em; // 48px
    margin-right: 0.2em; // 5px
    text-align: center;
    width: $diameter;

    &:hover {
      border-color: lighten($color-blue, 6%);
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      border-color: darken($color-black, 6%);
      cursor: default;
    }
  }
}

section {
  float: left;
  margin: 0 2em 1.2em 0;
}

#brush,
#pencil,
#redo,
#undo,
#undo-all {
  @include enable-ligatures();

  font-family: 'Canvas Icons';
  text-shadow: 0 0.0625em $color-white;
}

#redo,
#undo,
#undo-all {
  color: darken($color-white, 24%);

  &:hover {
    border-color: darken($color-white, 18%);
    cursor: default;
  };

  &.available {
    color: $color-black;

    &:hover {
      border-color: lighten($color-blue, 6%);
      cursor: pointer;
    };
  }
}

#colors {
  > li {
    text-indent: -999em;
  }
}
